<?xml version="1.0"?>
<config>
    <sections>
        <admin>
            <groups>
                <security translate="label">
                    <fields>
                        <active translate="label">
                            <label>Enable Two Factor Authenticator</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <frontend_active translate="label">
                            <label>Enable Two Factor Authenticator for Customers</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </frontend_active>
                        <twofactorauth_protected_resources translate="label comment">
                            <label>Protected Resources</label>
                            <frontend_model>twofactorauth/adminhtml_system_config_adminResource</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Select which resources require two factor authentication <br>
                            ]]></comment>
                        </twofactorauth_protected_resources>
                        <twofactorauth_ip_whitelist translate="label comment">
                            <label>IP Whitelist</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>16</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[A list of IP addresses which can bypass the Two Factor Authentication. <br>
                            Each IP address should be on a separate line. <br>
                            Where no IP addresses are added, the normal Protected Resources settings will apply. <br>
                            ]]></comment>
                        </twofactorauth_ip_whitelist>
                    </fields>
                </security>
            </groups>
        </admin>
    </sections>
</config>
